* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #000;
  color: white;
  overflow-x: hidden;
}

h1 {
  color: var(--blanc-100, #ffffff);
  font-family: Anton;
  font-size: 170px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header {
  background-color: black;
  width: 100%;
  padding: 25px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 20;
  top: 0;
}
.header .liens {
  display: flex;
  gap: 20px;
}
a {
  text-decoration: none;
  color: inherit;
}
.header .liens a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  transition: opacity 0.3s;
}
.header .liens a:hover {
  opacity: 0.6;
  color: rgb(255, 38, 0);
}
.logo {
  height: 40px;
}

.image-background img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(55%);
}
.hero-section {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 60px;
  z-index: 10;
}

.hero-section h1 {
  font-family: "Anton", sans-serif;
  font-size: 180px;
  text-transform: uppercase;
  line-height: 0.9;
  margin-bottom: 20px;
}
.hero-section p {
  max-width: 600px;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 300;
  margin-bottom: 40px;
}
.hero-buttons a {
  display: inline-block;
  padding: 14px 40px;
  border: 2px solid white;
  color: white;
  text-decoration: none;
  font-size: 16px;
  border-radius: 40px;
  transition: background 0.3s, color 0.3s;
}
.hero-buttons a:hover {
  background: rgb(255, 0, 0);
  color: black;
}
